In [214]:
import pandas as pd
import numpy as np

In [215]:
df = pd.read_csv(r"D:\ML\final_data_api.csv")

In [216]:
temp_df = df.copy()

In [217]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43151 entries, 0 to 43150
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                43151 non-null  object
 1   actor                  38818 non-null  object
 2   actress                35062 non-null  object
 3   archive_footage        655 non-null    object
 4   archive_sound          8 non-null      object
 5   cinematographer        23349 non-null  object
 6   composer               27239 non-null  object
 7   director               41147 non-null  object
 8   editor                 14873 non-null  object
 9   producer               34171 non-null  object
 10  production_designer    3908 non-null   object
 11  self                   3294 non-null   object
 12  writer                 29205 non-null  object
 13  primaryTitle           43151 non-null  object
 14  originalTitle          43151 non-null  object
 15  startYear              43151 non-null  int64
 16  runtimeMinutes         43151 non-null  int64
 17  genres_x               43151 non-null  object
 18  world_revenue          43151 non-null  float64
 19  averageRating          43151 non-null  float64
 20  numVotes               43151 non-null  int64
 21  Unnamed: 0             43151 non-null  int64
 22  adult                  43151 non-null  bool
 23  backdrop_path          33664 non-null  object
 24  belongs_to_collection  4336 non-null   object
 25  budget                 43151 non-null  float64
 26  genres_y               43151 non-null  object
 27  homepage               9897 non-null   object
 28  id                     43151 non-null  float64
 29  original_language      43151 non-null  object
 30  original_title         43151 non-null  object
 31  overview               41159 non-null  object
 32  popularity             43151 non-null  float64
 33  poster_path            41724 non-null  object
 34  production_companies   43151 non-null  object
 35  production_countries   43151 non-null  object
 36  release_date           43075 non-null  object
 37  revenue                43151 non-null  float64
 38  runtime                43151 non-null  float64
 39  spoken_languages       43151 non-null  object
 40  status                 43151 non-null  object
 41  tagline                17438 non-null  object
 42  title                  43151 non-null  object
 43  video                  43151 non-null  bool
 44  vote_average           43151 non-null  float64
 45  vote_count             43151 non-null  float64
 46  success                0 non-null      float64
 47  status_code            0 non-null      float64
 48  status_message         0 non-null      float64
 49  MPAA                   11325 non-null  object
dtypes: bool(2), float64(12), int64(4), object(32)
memory usage: 15.9+ MB

Take English Movies

In [218]:
temp_df = temp_df[temp_df.original_language == 'en']

In [219]:
temp_df

,imdb_id,actor,actress,archive_footage,archive_sound,cinematographer,composer,director,editor,producer,...,status,tagline,title,video,vote_average,vote_count,success,status_code,status_message,MPAA
3,tt0012190,"nm0884388,nm0134251,nm0842522",nm0855935,NaN,NaN,NaN,nm0002301,nm0002271,NaN,"nm0002206,nm0318647",...,Released,NaN,The Four Horsemen of the Apocalypse,False,7.0,34.0,NaN,NaN,NaN,NaN
4,tt0012349,"nm0088471,nm0000122,nm0001067,nm0588033,nm0042...","nm0701012,nm0047800,nm0048798",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Released,6 reels of Joy.,The Kid,False,8.2,1599.0,NaN,NaN,NaN,NaN
7,tt0014624,"nm0312238,nm0588033,nm0294058,nm0579663","nm0048798,nm0701012,nm0461438,nm0607369,nm0689748",NaN,NaN,NaN,NaN,nm0000122,NaN,NaN,...,Released,"""You Wouldn't Understand"" said the erstwhile v...",A Woman of Paris: A Drama of Fate,False,6.9,113.0,NaN,NaN,NaN,NaN
10,tt0015864,"nm1027682,nm0000122,nm0841501,nm0615306,nm0074...",nm0354913,NaN,NaN,nm0005906,nm0675356,NaN,NaN,NaN,...,Released,The World's Greatest Laughing Picture!,The Gold Rush,False,8.0,1203.0,NaN,NaN,NaN,NaN
11,tt0017075,"nm0637040,nm0156241","nm0385062,nm0042083",NaN,NaN,nm0893248,nm0410344,nm0000033,nm0598749,NaN,...,Released,NaN,The Lodger: A Story of the London Fog,False,7.2,207.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43142,tt9892094,"nm1981893,nm9342181","nm4696728,nm4408716",NaN,NaN,nm1240062,nm2368178,nm4802773,NaN,"nm1964434,nm1974400,nm3921101",...,Released,NaN,Mogul Mowgli,False,6.6,25.0,NaN,NaN,NaN,NaN
43143,tt9893084,"nm2916966,nm12513524","nm3948952,nm12505163",NaN,NaN,NaN,NaN,nm1383301,NaN,"nm2792768,nm0040120,nm5126852,nm3530609,nm1978398",...,Released,Find yourself.,Italian Studies,False,5.0,5.0,NaN,NaN,NaN,NaN
43144,tt9893250,nm0227759,"nm0683253,nm2555462,nm0001848",NaN,NaN,nm1397781,nm2169909,nm2128335,NaN,"nm5715332,nm3267061,nm4212466",...,Released,NaN,I Care a Lot,False,6.6,2061.0,NaN,NaN,NaN,R
43149,tt9894470,"nm0002332,nm0006669,nm0004365,nm0184392",NaN,NaN,NaN,NaN,NaN,nm3976308,NaN,"nm2447772,nm3991275,nm5472785",...,Released,NaN,VFW,False,5.9,160.0,NaN,NaN,NaN,NaN
43150,tt9894660,nm0507535,"nm4194124,nm1120593,nm1344302",NaN,NaN,NaN,"nm5623975,nm3209768",nm3555793,NaN,nm5623849,...,Released,Growing a baby doesn't mean growing up,Baby Done,False,6.8,21.0,NaN,NaN,NaN,NaN

In [220]:
temp_df.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [221]:
temp_df.drop(columns=['success', 'status_code', 'status_message', 'archive_footage', 'archive_sound', 'imdb_id'], axis=1, inplace=True)

In [222]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19085 entries, 3 to 43150
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   actor                  16478 non-null  object
 1   actress                14602 non-null  object
 2   cinematographer        10007 non-null  object
 3   composer               12461 non-null  object
 4   director               18104 non-null  object
 5   editor                 6327 non-null   object
 6   producer               15890 non-null  object
 7   production_designer    1803 non-null   object
 8   self                   2323 non-null   object
 9   writer                 12701 non-null  object
 10  primaryTitle           19085 non-null  object
 11  originalTitle          19085 non-null  object
 12  startYear              19085 non-null  int64
 13  runtimeMinutes         19085 non-null  int64
 14  genres_x               19085 non-null  object
 15  world_revenue          19085 non-null  float64
 16  averageRating          19085 non-null  float64
 17  numVotes               19085 non-null  int64
 18  adult                  19085 non-null  bool
 19  backdrop_path          15445 non-null  object
 20  belongs_to_collection  2022 non-null   object
 21  budget                 19085 non-null  float64
 22  genres_y               19085 non-null  object
 23  homepage               6110 non-null   object
 24  id                     19085 non-null  float64
 25  original_language      19085 non-null  object
 26  original_title         19085 non-null  object
 27  overview               19058 non-null  object
 28  popularity             19085 non-null  float64
 29  poster_path            18366 non-null  object
 30  production_companies   19085 non-null  object
 31  production_countries   19085 non-null  object
 32  release_date           19048 non-null  object
 33  revenue                19085 non-null  float64
 34  runtime                19085 non-null  float64
 35  spoken_languages       19085 non-null  object
 36  status                 19085 non-null  object
 37  tagline                12811 non-null  object
 38  title                  19085 non-null  object
 39  video                  19085 non-null  bool
 40  vote_average           19085 non-null  float64
 41  vote_count             19085 non-null  float64
 42  MPAA                   9908 non-null   object
dtypes: bool(2), float64(9), int64(3), object(29)
memory usage: 6.2+ MB

In [223]:
0.3 * temp_df.shape[0]

5725.5

In [224]:
temp_df.isna().sum() / temp_df.shape[0] > .3

actor                    False
actress                  False
cinematographer           True
composer                  True
director                 False
editor                    True
producer                 False
production_designer       True
self                      True
writer                    True
primaryTitle             False
originalTitle            False
startYear                False
runtimeMinutes           False
genres_x                 False
world_revenue            False
averageRating            False
numVotes                 False
adult                    False
backdrop_path            False
belongs_to_collection     True
budget                   False
genres_y                 False
homepage                  True
id                       False
original_language        False
original_title           False
overview                 False
popularity               False
poster_path              False
production_companies     False
production_countries     False
release_date             False
revenue                  False
runtime                  False
spoken_languages         False
status                   False
tagline                   True
title                    False
video                    False
vote_average             False
vote_count               False
MPAA                      True
dtype: bool

In [225]:
un_important = ['cinematographer', 'composer', 'production_designer', 'self', 'writer', 'homepage', 'editor',"tagline",'backdrop_path','poster_path']

In [228]:
temp_df.drop(columns=un_important, axis=1, inplace=True)

KeyError: "['cinematographer' 'composer' 'production_designer' 'self' 'writer'\n 'homepage' 'editor' 'tagline' 'backdrop_path' 'poster_path'] not found in axis"

Change Belongs to collection Nan to other

In [229]:
temp_df.belongs_to_collection.fillna('other',inplace=True)

In [230]:
temp_df.shape

(19085, 33)

In [231]:
temp_df.belongs_to_collection.isna().sum()

0

In [232]:
temp_df.MPAA.isna().sum()

9177

In [233]:
temp_df.isna().sum() / temp_df.shape[0]

actor                    0.136599
actress                  0.234897
director                 0.051402
producer                 0.167409
primaryTitle             0.000000
originalTitle            0.000000
startYear                0.000000
runtimeMinutes           0.000000
genres_x                 0.000000
world_revenue            0.000000
averageRating            0.000000
numVotes                 0.000000
adult                    0.000000
belongs_to_collection    0.000000
budget                   0.000000
genres_y                 0.000000
id                       0.000000
original_language        0.000000
original_title           0.000000
overview                 0.001415
popularity               0.000000
production_companies     0.000000
production_countries     0.000000
release_date             0.001939
revenue                  0.000000
runtime                  0.000000
spoken_languages         0.000000
status                   0.000000
title                    0.000000
video                    0.000000
vote_average             0.000000
vote_count               0.000000
MPAA                     0.480849
dtype: float64

In [234]:
temp_df.shape

(19085, 33)

In [235]:
temp_df.dropna(inplace=True)

In [236]:
temp_df.shape

(7014, 33)

__Check Corr__

In [237]:
corr = temp_df.corr()
corr.style.background_gradient(cmap='coolwarm')

E:\BFCAI2\ana\lib\site-packages\pandas\io\formats\style.py:1264: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(s.to_numpy()) if vmin is None else vmin
E:\BFCAI2\ana\lib\site-packages\pandas\io\formats\style.py:1265: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(s.to_numpy()) if vmax is None else vmax

In [238]:
temp_df.drop(columns=['id', 'runtime', 'vote_average', 'video', 'revenue', 'vote_count', 'adult', 'startYear'], axis=1, inplace=True)

In [239]:
corr = temp_df.corr()
corr.style.background_gradient(cmap='coolwarm')

> __# of Votes & Budget Correlations!__

In [240]:
temp_df.head(2)

,actor,actress,director,producer,primaryTitle,originalTitle,runtimeMinutes,genres_x,world_revenue,averageRating,...,original_title,overview,popularity,production_companies,production_countries,release_date,spoken_languages,status,title,MPAA
123,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,...,Kate & Leopold,When her scientist ex-boyfriend discovers a po...,10.989,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Kate & Leopold,PG-13
219,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,...,The African Queen,"At the start of the First World War, in the mi...",12.037,"[{'id': 60, 'logo_path': '/2eqFolQI0NLL7ExZts5...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1952-01-07,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,The African Queen,PG

In [241]:
temp_df.drop(columns=['original_title'], axis=1, inplace=True)

In [242]:
temp_df.drop(columns=['originalTitle'], axis=1, inplace=True)

In [243]:
temp_df.shape

(7014, 23)

__Relase Data__

In [244]:
temp_df.release_date = pd.to_datetime(temp_df.release_date)

In [245]:
temp_df.release_date

123     2001-12-25
219     1952-01-07
235     1951-09-18
253     1952-04-09
265     1953-04-16
           ...
43016   2020-03-12
43023   2021-02-12
43067   2020-12-17
43135   2021-05-21
43144   2021-02-19
Name: release_date, Length: 7014, dtype: datetime64[ns]

__Remove Another Columns__

In [246]:
temp_df.head(2)

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,...,original_language,overview,popularity,production_companies,production_countries,release_date,spoken_languages,status,title,MPAA
123,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,...,en,When her scientist ex-boyfriend discovers a po...,10.989,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Kate & Leopold,PG-13
219,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,...,en,"At the start of the First World War, in the mi...",12.037,"[{'id': 60, 'logo_path': '/2eqFolQI0NLL7ExZts5...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1952-01-07,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,The African Queen,PG

In [247]:
temp_df.drop(columns=['genres_y'], axis=1, inplace=True)

In [248]:
temp_df.drop(columns=['title'], axis=1, inplace=True)

In [249]:
temp_df.drop(columns=['spoken_languages'], axis=1, inplace=True)

In [250]:
temp_df.head(2)

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,belongs_to_collection,budget,original_language,overview,popularity,production_companies,production_countries,release_date,status,MPAA
123,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,other,48000000.0,en,When her scientist ex-boyfriend discovers a po...,10.989,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,Released,PG-13
219,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,other,1000000.0,en,"At the start of the First World War, in the mi...",12.037,"[{'id': 60, 'logo_path': '/2eqFolQI0NLL7ExZts5...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1952-01-07,Released,PG

> __Final Df__

In [251]:
temp_df.reset_index(inplace = True, drop=True)

In [252]:
temp_df.head(5)

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,belongs_to_collection,budget,original_language,overview,popularity,production_companies,production_countries,release_date,status,MPAA
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,other,48000000.0,en,When her scientist ex-boyfriend discovers a po...,10.989,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,Released,PG-13
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,other,1000000.0,en,"At the start of the First World War, in the mi...",12.037,"[{'id': 60, 'logo_path': '/2eqFolQI0NLL7ExZts5...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1952-01-07,Released,PG
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,A Streetcar Named Desire,122,Drama,49523.0,7.9,106722,other,1800000.0,en,Disturbed Blanche DuBois moves in with her sis...,14.618,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'US', 'name': 'United States o...",1951-09-18,Released,PG
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,Singin' in the Rain,103,"Comedy,Musical,Romance",1923485.0,8.3,236972,other,2540800.0,en,"In 1927 Hollywood, a silent film production co...",16.596,"[{'id': 21, 'logo_path': '/aOWKh4gkNrfFZ3Ep7n0...","[{'iso_3166_1': 'US', 'name': 'United States o...",1952-04-09,Released,G
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,House of Wax,88,Horror,23750000.0,7.0,18008,other,658000.0,en,A New York sculptor who opens a wax museum to ...,9.411,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'US', 'name': 'United States o...",1953-04-16,Released,GP

Split Production Companies

In [253]:
temp_df.production_companies[0]

"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsvMNJIAsMu.png', 'name': 'Miramax', 'origin_country': 'US'}, {'id': 85, 'logo_path': None, 'name': 'Konrad Pictures', 'origin_country': ''}]"

In [254]:
import ast

In [255]:
def split_list(x):
    first = x.find('{')
    second = x.find('}')
    if first == -1 or second == -1:
        return np.nan
    x = x[first:second+1]
    x = ast.literal_eval(x)
    return x['name']

In [256]:
temp_df.production_companies = temp_df.production_companies.apply(split_list)

In [257]:
temp_df.head(5)

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,belongs_to_collection,budget,original_language,overview,popularity,production_companies,production_countries,release_date,status,MPAA
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,other,48000000.0,en,When her scientist ex-boyfriend discovers a po...,10.989,Miramax,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,Released,PG-13
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,other,1000000.0,en,"At the start of the First World War, in the mi...",12.037,United Artists,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1952-01-07,Released,PG
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,A Streetcar Named Desire,122,Drama,49523.0,7.9,106722,other,1800000.0,en,Disturbed Blanche DuBois moves in with her sis...,14.618,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",1951-09-18,Released,PG
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,Singin' in the Rain,103,"Comedy,Musical,Romance",1923485.0,8.3,236972,other,2540800.0,en,"In 1927 Hollywood, a silent film production co...",16.596,Metro-Goldwyn-Mayer,"[{'iso_3166_1': 'US', 'name': 'United States o...",1952-04-09,Released,G
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,House of Wax,88,Horror,23750000.0,7.0,18008,other,658000.0,en,A New York sculptor who opens a wax museum to ...,9.411,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",1953-04-16,Released,GP

In [258]:
temp_df.isna().sum()

actor                      0
actress                    0
director                   0
producer                   0
primaryTitle               0
runtimeMinutes             0
genres_x                   0
world_revenue              0
averageRating              0
numVotes                   0
belongs_to_collection      0
budget                     0
original_language          0
overview                   0
popularity                 0
production_companies     460
production_countries       0
release_date               0
status                     0
MPAA                       0
dtype: int64

Split belongs to collection we take the name of the first dictionary

In [259]:
temp_df.belongs_to_collection.unique()[1]

"{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/dOSECZImeyZldoq0ObieBE0lwie.jpg'}"

In [260]:
def split_list(x):
    if x == 'other':
        return x
    first = x.find('{')
    second = x.find('}')
    if first == -1 or second == -1:
        return np.nan
    x = x[first:second+1]
    x = ast.literal_eval(x)
    return x['name']

In [261]:
temp_df.belongs_to_collection = temp_df.belongs_to_collection.apply(split_list)

In [262]:
temp_df.belongs_to_collection.unique()

array(['other', 'James Bond Collection',
       'Planet of the Apes (Original) Collection',
       'Butch Cassidy and the Sundance Kid Collection',
       'Rooster Cogburn Collection',
       'The Last Picture Show and Texasville',
       'Saturday Night Fever Collection', 'Star Wars Collection',
       'Grease Collection', 'Alien Collection', 'Phantasm Collection',
       'Indiana Jones Collection', 'Blade Runner Collection',
       'Evil Dead Collection', 'A Nightmare on Elm Street Collection',
       'Eugene Trilogy', 'Highlander Collection', 'Mannequin Collection',
       'Beetlejuice Collection', 'Lethal Weapon Collection',
       'The Gate Collection', 'The Barrytown Trilogy',
       'My Girl Collection', 'Iron Eagle Collection',
       'Basic Instinct Collection', 'Batman Collection',
       'Candyman Collection', "Child's Play Collection",
       'The Mighty Ducks Collection', 'The Jack Ryan Collection',
       'Pure Country Collection', 'Under Siege Collection',
       'Universal Soldier Collection', "Wayne's World Collection",
       'Wild Orchid Collection', 'Addams Family Collection',
       'Stakeout Collection', 'Beethoven Collection',
       "Carlito's Way Collection", 'Carnosaur Collection',
       'Children of the Corn Collection', 'Cop and a Half Collection',
       'Dennis the Menace Collection', 'Ernest Collection',
       'Fortress Collection', 'Free Willy Collection',
       'Marshal Samuel Gerard Collection', 'Grumpy Old Men Collection',
       'Hard Target Collection', 'The Hocus Pocus Collection',
       'Hot Shots! Collection', 'Friday the 13th Collection',
       'Jurassic Park Collection', 'Leprechaun Collection',
       "Look Who's Talking Collection", 'Nemesis Collection',
       'Return of the Living Dead Collection', 'RoboCop Collection',
       'Sister Act Collection', 'The Pink Panther (Original) Collection',
       'Teenage Mutant Ninja Turtles Collection', 'Warlock Collection',
       "Weekend at Bernie's Collection", 'Ace Ventura Collection',
       'Angels in the ...', 'Clerks Collection', 'The Crow Collection',
       'Death Wish Collection', 'The Flintstones Collection',
       'House Party Collection', 'The Vampire Chronicles Collection',
       'The Mask Collection', 'The Karate Kid Collection',
       'Once were Warriors Collection', 'Richie Rich Collection',
       'The Santa Clause Collection', 'The Shadow Collection',
       'Speed Collection', 'Timecop Collection', 'White Fang Collection',
       'Bad Boys Collection', 'Before... Collection',
       'Brooklyn Cigar Store Collection', 'Casper Collection',
       'Mariachi Collection', 'Friday Collection',
       'Chili Palmer Collection', 'Halloween Collection',
       'Jumanji Collection', 'Mallrats Collection',
       'Power Rangers Collection', 'The Net Collection',
       'The Prophecy Collection', 'Screamers Collection',
       'Showgirls Collection', 'Species Collection',
       'Tales from the Crypt Collection', 'The Arrival Collection',
       'Beavis and Butt-Head Do A Collection', 'Eraser Collection',
       'Terms of Endearment Collection', 'Freeway Collection',
       'From Dusk Till Dawn Collection', 'Hellraiser Collection',
       'Jingle All the Way Collection', 'The Lawnmower Man Collection',
       'Mission: Impossible Collection', 'Scream Collection',
       'Space Jam Collection', '3 Ninja Kids Collection',
       'Air Bud Collection', 'An American Werewolf Collection',
       'Anaconda Collection', 'Austin Powers Collection',
       'Mr. Bean Collection', 'George of the Jungle Collection',
       'Home Alone Collection',
       'I Know What You Did Last Summer Collection',
       'Alex Cross Collection', "McHale's Navy Collection",
       'Men In Black Collection', 'Mimic Collection',
       'Romy and Michele Collection', 'Shiloh Collection',
       'Starship Troopers Collection', 'Turbulence Collection',
       "National Lampoon's Vacation Collection", 'Wishmaster Collection',
       'Blade Collection', 'Fantastic Four Collection',
       'Resident Evil Collection', 'Vampires Collection',
       'Wild Things Collection', 'The X Files Collection',
       'X-Men Collection', 'Analyze Collection', 'Cube Collection',
       'Elizabeth Collection', 'I Got the Hook Up Collection',
       'The Matrix Collection', 'SLC Punk',
       'The Chronicles of Riddick Collection',
       'Cruel Intentions Collection', 'Lake Placid Collection',
       'Carrie Collection', 'Spider-Man Collection',
       'The Princess and the Pea', 'Urban Legend Collection',
       'Deep Blue Sea Collection', 'Belly Collection',
       'The Art of War Collection', 'Shaft (Reboot) Collection',
       'American Pie Collection', 'Hollow Man Collection',
       'Stir of Echoes Collection', 'Stuart Little Collection',
       'Hellboy Collection', 'The Best Man Collection',
       'The Terminator Collection', 'Shanghai Noon Collection',
       'House on Haunted Hill Collection', 'Blair Witch Collection',
       'Dungeons & Dragons Collection', 'The Skulls Collection',
       'Final Destination Collection', 'Bats Collection',
       'Omega Code Series', 'The Exorcist Collection',
       'Bring It On Collection', 'Deuce Bigalow Collection',
       'Save the Last Dance Collection', 'Joy Ride Collection',
       "Big Momma's House Collection", 'The Mummy Collection',
       'The Cell Collection', 'Center Stage Collection',
       'Meet the Parents Collection', 'The Hannibal Lecter Collection',
       '100 Girls Collection', 'Road Trip Collection',
       'The Glass House Collection', 'Re-Animator Collection',
       'Spy Kids Collection', 'Crocodile Dundee Collection',
       'The Fast and the Furious Collection', 'Cats & Dogs Collection',
       'Dr. Dolittle Collection', 'Harry Potter Collection',
       'Bridget Jones Collection', 'Joe Dirt Collection',
       'Darko Collection', 'Heaven, Hell and Purgatory Collection',
       'The Princess Diaries Collection',
       'The Other Side of Heaven Collection', 'Firefly Collection',
       'The Bourne Collection', 'Ghost Rider Collection',
       'My Big Fat Greek Wedding Collection',
       'Jeepers Creepers Collection', '2001 Maniacs Collection',
       'Big Fat Liar Collection', 'Recess Collection',
       'Kill Bill Collection', 'Rush Hour Collection',
       'Scooby-Doo Collection', 'Johnny English Collection',
       'Lilo & Stitch Collection',
       'USA: Land of Opportunities Collection',
       'The Scorpion King Collection', 'Undercover Brother Collection',
       'Peter Pan Collection', "National Lampoon's Van Wilder Collection",
       'Havoc Collection', '28 Days/Weeks Later Collection',
       'The Butterfly Effect Collection', 'The Transporter Collection',
       'Wrong Turn Collection', 'xXx Collection', 'The Ring Collection',
       'Blue Crush Collection', 'Barbershop Collection',
       'Cabin Fever Collection', 'Drumline - Collection', 'Singles Ward',
       'Bad Santa Collection', 'Like Mike Collection',
       'Hey Arnold Movie Collection', 'Almighty Collection',
       'Daddy Day Camp Collection', 'House of the Dead Collection',
       'Underworld Collection', 'Honey Collection',
       'Texas Chainsaw (Reboot) Collection', 'Tomb Raider Collection',
       'Pirates of the Caribbean Collection',
       'The Whole Nine/Ten Yards Collection', 'The Punisher Collection',
       'Legally Blonde Collection',
       'The Passion of the Christ Collection', 'Die Hard Collection',
       'Dirty Dancing Collection', 'Van Helsing Collection',
       'Aileen Wuornos Collection', 'Superman Collection',
       'Waiting Collection', "Ocean's Collection",
       'Madagascar Collection', 'Ginger Snaps Collection',
       'Cinderella Story Collection', 'Garfield Collection',
       'Anchorman Collection', 'The Boogeyman Collection',
       'Decoys Collection', 'Agent Cody Banks Collection',
       'Dorm Daze Collection', 'The Chronicles of Narnia Collection',
       'Happy Feet Collection', 'The Are We Collection',
       'Alone in the Dark Collection', 'AVP Collection',
       'Journey Collection', 'Halloween (Rob Zombie Series) Collection',
       'Open Water Collection', 'White Noise Collection',
       'Mean Girls Collection',
       'The Dukes of Hazzard (Reboot) Collection',
       'Into the Blue Collection', 'The Robert Langdon Collection',
       'The Pink Panther (Steve Martin) Collection',
       'BloodRayne Collection', 'Silent Hill Collection',
       'Green Street Hooligans Collection', '30 Days of Night Collection',
       'The Grudge Collection', 'Nanny McPhee Collection',
       'Skeleton Key Collection', 'Sin City Collection',
       'The Bad News Bears Collection',
       'The Work and the Glory Collection', 'Tekken Collection',
       'Wolf Creek Collection', '300 Collection',
       'Transformers Collection', 'Living Dead Collection',
       'Doom Collection', 'The Marine Collection', 'Madea - Collection',
       'Hatchet Collection', 'Sharkboy and Lavagirl Collection',
       'The Messengers Collection', 'Trailer Park Boys Collection',
       'Feast Collection', 'Saw Collection', 'Flicka Collection',
       'Kidulthood Collection', 'See No Evil Collection',
       'Borat Moviefilms Collection', 'Henry Fool Collection',
       'Hostel Collection', 'Cheaper by the Dozen (2003) Collection',
       'Death Race Collection', 'Vacancy Collection',
       'The Hills Have Eyes (Reboot) Collection', 'Inside Man Collection',
       'Pulse Collection', 'The Equalizer Collection',
       'Captain America Collection', 'In the Name of the King Collection',
       'Enchanted Collection', 'Step Up Collection',
       'Piranha 3D Collection', 'Eye of the Dolphin Collection',
       'Hitman Collection', 'Goal! Collection',
       'Night at the Museum Collection', 'Knocked Up Collection',
       'Crank Collection', 'Atlas Shrugged Collection',
       'The Croods Collection', 'The Strangers Collection',
       'The Ultimate Collection',
       'The Haunting in Connecticut Collection', 'Avatar Collection',
       'Man of Steel Collection', 'Stomp the Yard Collection',
       'Love Comes Softly Collection', 'Mirrors Collection',
       'Jack Reacher Collection', 'Mamma Mia! Collection',
       'Hulk (Collection)', 'Red Dog Collection', 'Happiness Collection',
       'Black Water Collection', 'Marley & Me Collection',
       'Pet Sematary Reboot Collection',
       'Cloudy with a Chance of Meatballs Collection',
       'The Collector Collection',
       'The Last House on the Left Collection', 'Hoodwinked! Collection',
       'The Avengers Collection', 'Survival of the Dead Collection',
       'The Thing Collection', 'Arthur and the Invisibles Collection',
       'High School Musical Collection', 'Machete Collection',
       'Alice in Wonderland Collection',
       'Beverly Hills Chihuahua Collection', 'Never Back Down Collection',
       'Wall Street Collection', 'Becky Collection',
       'The Purge Collection', 'Iron Sky Collection', 'After Collection',
       'Molly Hartley Collection', 'Goosebumps Collection',
       'The Descent Collection', 'Witch Mountain Collection',
       'Quarantine Collection', "Bill & Ted's Most Excellent Collection",
       'Spider-Man (Avengers) Collection', 'The Twilight Collection',
       'Spirit Collection', 'Paddington Collection',
       'Mall Cop Collection', 'True to the Game Collection',
       'Orphan Collection', 'Zombieland Collection',
       '12 Rounds Collection', 'Dune Collection',
       'Downton Abbey Collection', 'Paranormal Activity Collection',
       'Twice the Dream Collection', 'Ninja Collection',
       'The Muppets Collection', 'Ouija Collection', 'Rambo Collection',
       'Doctor Strange Collection', 'Alpha and Omega Collection',
       'Cars Collection', "Sammy's Adventure Collection",
       'Jump Street Collection', 'The Donald Strachey Collection',
       'Sonic the Hedgehog Collection', 'I Spit on Your Grave Collection',
       'Nativity Collection', 'RED Collection', 'Kick-Ass Collection',
       'Night of the Demons Collection', 'The FP Collection',
       'Kung Fu Panda Collection',
       'Planet of the Apes (Reboot) Collection',
       'The Last Exorcism Collection', 'The Reef Collection',
       'Despicable Me Collection', '47 Ronin Collection',
       'The Dark Knight Collection', 'X Collection',
       'Grown Ups Collection', 'Suicide Squad Collection',
       'The Hunger Games Collection', 'Mad Max Collection',
       'It Collection', 'Star Trek: Alternate Reality Collection',
       'Ride Along Collection', 'Best Exotic Marigold Hotel Collection',
       'Predator Collection', 'The Wolverine Collection',
       'Deadpool Collection', 'Fright Night (Reboot) Collection',
       'Cat Run Collection', 'Prometheus Collection',
       'StreetDance Collection', 'Monsters, Inc. Collection',
       'Goon Collection', 'The Conjuring Collection',
       'Stake Land Collection', 'The Human Centipede Collection',
       'Monsters Collection', 'Attack the Block Collection',
       'Sherlock Holmes Collection', "Daddy's Home Collection",
       'The Disappearance Of Eleanor Rigby Collection',
       'Dolphin Tale Collection', 'Skyline Collection',
       'You Got Served Collection', 'The Girl - Millennium Collection',
       'G.I. Joe (Live-Action) Collection', 'Insidious Collection',
       'Norm of the North Collection', 'The Woman in Black Collection',
       'The Addams Family (Animated) Collection',
       'Think Like a Man Collection', 'Live. Die. Repeat Collection',
       'Open Season Collection', 'How to Train Your Dragon Collection',
       'Clash of the Titans Collection', "Fisherman's Friends Collection",
       'Diary of a Wimpy Kid Collection', 'Vampires Suck Collection',
       'Pacific Rim Collection', 'Dead River Collection',
       'The Huntsman Collection', 'Resident Evil: Biohazard Collection',
       'Wreck-It Ralph Collection', 'The Maze Runner Collection',
       'The Nut Job Collection', 'Black Panther Collection',
       'Divergent Collection', 'Percy Jackson Collection',
       'The Batman Collection', "Cowgirls n' Angels Collection",
       'Magic Mike Collection', 'Sinister Collection',
       'The Amityville Collection', "The Hitman's Bodyguard Collection",
       'Neighbors Collection', 'The Pact Collection',
       'The Accountant Collection', 'Horrible Bosses Collection',
       'Finding Nemo Collection', 'Minions Collection',
       'Frozen Collection', 'Has Fallen Collection',
       'The Gallows Collection', 'The Hobbit Collection',
       'Fifty Shades Collection', 'Atomic Blonde Collection',
       'Hotel Transylvania Collection', 'Wonder Collection',
       'Texas Chainsaw Massacre Collection',
       'Crouching Tiger, Hidden Dragon Collection',
       'The Secret Life of Pets Collection', 'Lucy Collection',
       'Hayride Collection', '47 Meters Down Collection',
       'Planes Collection', 'Jackass Presents: Bad Grandpa Collection',
       'Creed Collection', 'True North Collection',
       'Crazy Rich Asians Collection', 'Fantastic Beasts Collection',
       'The Dog Who Saved Christmas Collection', 'Annabelle Collection',
       'Maya the Bee Collection', 'Max Collection', 'Sicario Collection',
       'Ooops! Noah is Gone... Collection', 'Sing Collection',
       'Chocolate City Collection', 'The Incredibles Collection',
       'Unfriended Collection', 'Godzilla Collection',
       'The Boss Baby Collection', 'The Boy Collection',
       'Baby Driver Collection',
       'Teenage Mutant Ninja Turtles (Remake) Collection',
       'Captain Marvel Collection', "Don't Breathe Collection",
       'Meet the Blacks Collection', 'John Wick Collection',
       'Ghostbusters Collection', 'Spider-Man: Spider-Verse Collection',
       'The Meg Collection', 'Lights Out Collection',
       "God's Not Dead Collection", 'Blood Feast Collection',
       'Mystery Road Collection', 'Mary Poppins Collection',
       'Peter Rabbit Collection', 'The Dry Collection',
       'Kickboxer (Reboot) Collection', 'Happy Death Day Collection',
       'The Shining Collection', 'Cold Pursuit Collection',
       'The Nun Collection', 'Escape Room Collection',
       'The Angry Birds Collection', 'The Lion King (Reboot) Collection',
       'Aladdin (Live-Action) Collection', 'Free Guy Collection',
       'Bad Moms Collection', 'Jay and Silent Bob Collection',
       'Occupation Collection', 'Kingsman Collection',
       'The Souvenir Collection', 'A Simple Favor Collection',
       'Venom Collection', 'Wonder Woman Collection', 'Joker Collection',
       'Unbroken Collection', 'Bernie the Dolphin Collection',
       'Searching Collection', 'Greenland Collection',
       'Red Notice Collection', "A Dog's Purpose Collection",
       'Tortured For Christ Collection', 'Knives Out Collection',
       'Shang-Chi Collection', 'The Tomorrow War Collection'],
      dtype=object)

Split release_date into year, month, day, weekday

In [263]:
temp_df.release_date[0]

Timestamp('2001-12-25 00:00:00')

In [264]:
temp_df.release_date[0].day

25

In [265]:
temp_df.release_date[0].weekday()

1

In [266]:
temp_df['day'] = temp_df.release_date.apply(lambda x: x.day)

In [267]:
temp_df['month'] = temp_df.release_date.apply(lambda x: x.month)

In [268]:
temp_df['year'] = temp_df.release_date.apply(lambda x: x.year)

In [269]:
temp_df['weekday'] = temp_df.release_date.apply(lambda x: x.weekday())

In [270]:
temp_df.head(5)

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,...,popularity,production_companies,production_countries,release_date,status,MPAA,day,month,year,weekday
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,...,10.989,Miramax,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,Released,PG-13,25,12,2001,1
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,...,12.037,United Artists,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1952-01-07,Released,PG,7,1,1952,0
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,A Streetcar Named Desire,122,Drama,49523.0,7.9,106722,...,14.618,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",1951-09-18,Released,PG,18,9,1951,1
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,Singin' in the Rain,103,"Comedy,Musical,Romance",1923485.0,8.3,236972,...,16.596,Metro-Goldwyn-Mayer,"[{'iso_3166_1': 'US', 'name': 'United States o...",1952-04-09,Released,G,9,4,1952,2
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,House of Wax,88,Horror,23750000.0,7.0,18008,...,9.411,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",1953-04-16,Released,GP,16,4,1953,3

Status unique values

In [271]:
temp_df.status.unique()

array(['Released'], dtype=object)

In [272]:
temp_df.drop(columns=['status','release_date'],inplace=True)

In [273]:
temp_df.head()

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,...,original_language,overview,popularity,production_companies,production_countries,MPAA,day,month,year,weekday
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,...,en,When her scientist ex-boyfriend discovers a po...,10.989,Miramax,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG-13,25,12,2001,1
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,...,en,"At the start of the First World War, in the mi...",12.037,United Artists,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",PG,7,1,1952,0
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,A Streetcar Named Desire,122,Drama,49523.0,7.9,106722,...,en,Disturbed Blanche DuBois moves in with her sis...,14.618,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG,18,9,1951,1
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,Singin' in the Rain,103,"Comedy,Musical,Romance",1923485.0,8.3,236972,...,en,"In 1927 Hollywood, a silent film production co...",16.596,Metro-Goldwyn-Mayer,"[{'iso_3166_1': 'US', 'name': 'United States o...",G,9,4,1952,2
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,House of Wax,88,Horror,23750000.0,7.0,18008,...,en,A New York sculptor who opens a wax museum to ...,9.411,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",GP,16,4,1953,3

In [274]:
temp_df

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,...,original_language,overview,popularity,production_companies,production_countries,MPAA,day,month,year,weekday
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,...,en,When her scientist ex-boyfriend discovers a po...,10.989,Miramax,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG-13,25,12,2001,1
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,...,en,"At the start of the First World War, in the mi...",12.037,United Artists,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",PG,7,1,1952,0
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,A Streetcar Named Desire,122,Drama,49523.0,7.9,106722,...,en,Disturbed Blanche DuBois moves in with her sis...,14.618,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG,18,9,1951,1
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,Singin' in the Rain,103,"Comedy,Musical,Romance",1923485.0,8.3,236972,...,en,"In 1927 Hollywood, a silent film production co...",16.596,Metro-Goldwyn-Mayer,"[{'iso_3166_1': 'US', 'name': 'United States o...",G,9,4,1952,2
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,House of Wax,88,Horror,23750000.0,7.0,18008,...,en,A New York sculptor who opens a wax museum to ...,9.411,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",GP,16,4,1953,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009,"nm6216001,nm1452155,nm0000641",nm1429380,"nm3401779,nm2296528",nm0235948,I Still Believe,116,"Biography,Drama,Music",16069730.0,6.4,11540,...,en,The true-life story of Christian music star Je...,40.160,Kevin Downes Productions,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG,12,3,2020,3
7010,"nm2257207,nm3147751,nm0687146",nm6195774,nm3489851,"nm2229798,nm3363032",Judas and the Black Messiah,126,"Biography,Drama,History",6829913.0,7.4,73413,...,en,Bill O'Neal infiltrates the Black Panthers on ...,20.256,Warner Bros. Pictures,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",R,12,2,2021,4
7011,"nm4181215,nm0000246","nm0629697,nm3879121",nm2986811,nm1290481,Breach,92,"Action,Horror,Sci-Fi",39328.0,3.1,17732,...,en,A hardened mechanic must stay awake and mainta...,57.646,Aloe Entertainment,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",R,17,12,2020,3
7012,"nm0853583,nm0202804","nm0001057,nm0056271",nm0528186,"nm0124996,nm1272660",Dream Horse,113,"Biography,Comedy,Drama",6572790.0,6.9,4868,...,en,"The inspiring true story of Dream Alliance, an...",12.595,Ingenious Media,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",PG,21,5,2021,4
7013,nm0227759,"nm0683253,nm2555462,nm0001848",nm2128335,"nm5715332,nm3267061,nm4212466",I Care a Lot,118,"Comedy,Crime,Drama",1351662.0,6.3,128166,...,en,A court-appointed legal guardian defrauds her ...,42.149,Black Bear Pictures,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",R,19,2,2021,4

Remove budget of zeros

In [275]:
temp_df.describe()

,runtimeMinutes,world_revenue,averageRating,numVotes,budget,popularity,day,month,year,weekday
count,7014.000000,7.014000e+03,7014.000000,7.014000e+03,7.014000e+03,7014.000000,7014.000000,7014.000000,7014.000000,7014.000000
mean,103.808383,5.342540e+07,6.052552,6.712466e+04,1.920181e+07,24.841654,15.149415,6.760336,2007.110636,3.309524
std,15.378343,1.396127e+08,1.001485,1.403323e+05,3.434750e+07,147.649936,8.662003,3.411803,8.930169,1.279271
min,47.000000,2.400000e+01,1.100000,7.000000e+00,0.000000e+00,0.600000,1.000000,1.000000,1951.000000,0.000000
25%,93.000000,3.334625e+05,5.500000,4.211500e+03,0.000000e+00,6.091500,8.000000,4.000000,2001.000000,3.000000
50%,101.000000,5.576072e+06,6.100000,1.665750e+04,4.000000e+06,10.022000,15.000000,7.000000,2008.000000,4.000000
75%,112.000000,4.173543e+07,6.700000,6.585100e+04,2.500000e+07,18.477250,22.000000,10.000000,2014.000000,4.000000
max,201.000000,2.847380e+09,9.200000,1.994188e+06,3.000000e+08,9929.649000,31.000000,12.000000,2022.000000,6.000000

In [276]:
temp_df = temp_df[temp_df.budget != 0]

In [277]:
temp_df.describe()

,runtimeMinutes,world_revenue,averageRating,numVotes,budget,popularity,day,month,year,weekday
count,4017.000000,4.017000e+03,4017.000000,4.017000e+03,4.017000e+03,4017.000000,4017.000000,4017.000000,4017.000000,4017.000000
mean,106.945731,9.005099e+07,6.199403,1.091505e+05,3.352788e+07,34.332755,15.398307,6.848643,2006.612397,3.213343
std,16.698777,1.755018e+08,1.013114,1.732645e+05,3.974562e+07,187.136486,8.514762,3.413997,8.734655,1.243325
min,68.000000,1.130000e+02,1.400000,1.000000e+01,1.000000e+00,0.600000,1.000000,1.000000,1951.000000,0.000000
25%,95.000000,4.858139e+06,5.600000,1.561900e+04,8.000000e+06,8.979000,8.000000,4.000000,2001.000000,2.000000
50%,104.000000,2.914613e+07,6.300000,4.857100e+04,2.000000e+07,14.219000,15.000000,7.000000,2007.000000,4.000000
75%,116.000000,9.977568e+07,6.900000,1.251600e+05,4.000000e+07,26.730000,23.000000,10.000000,2013.000000,4.000000
max,201.000000,2.847380e+09,9.000000,1.994188e+06,3.000000e+08,9929.649000,31.000000,12.000000,2022.000000,6.000000

In [278]:
temp_df

,actor,actress,director,producer,primaryTitle,runtimeMinutes,genres_x,world_revenue,averageRating,numVotes,...,original_language,overview,popularity,production_companies,production_countries,MPAA,day,month,year,weekday
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,Kate & Leopold,118,"Comedy,Fantasy,Romance",76019048.0,6.4,83716,...,en,When her scientist ex-boyfriend discovers a po...,10.989,Miramax,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG-13,25,12,2001,1
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,The African Queen,105,"Adventure,Drama,Romance",46305.0,7.7,77826,...,en,"At the start of the First World War, in the mi...",12.037,United Artists,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",PG,7,1,1952,0
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,A Streetcar Named Desire,122,Drama,49523.0,7.9,106722,...,en,Disturbed Blanche DuBois moves in with her sis...,14.618,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG,18,9,1951,1
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,Singin' in the Rain,103,"Comedy,Musical,Romance",1923485.0,8.3,236972,...,en,"In 1927 Hollywood, a silent film production co...",16.596,Metro-Goldwyn-Mayer,"[{'iso_3166_1': 'US', 'name': 'United States o...",G,9,4,1952,2
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,House of Wax,88,Horror,23750000.0,7.0,18008,...,en,A New York sculptor who opens a wax museum to ...,9.411,Warner Bros. Pictures,"[{'iso_3166_1': 'US', 'name': 'United States o...",GP,16,4,1953,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999,"nm0268199,nm4446467,nm7887725",nm6675440,nm1139726,"nm7533951,nm0412588",Voyagers,108,"Adventure,Sci-Fi,Thriller",4298184.0,5.4,19348,...,en,"With the future of the human race at stake, a ...",82.256,Thunder Road,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG-13,8,4,2021,3
7006,"nm0000657,nm11894469","nm0000531,nm9584508",nm2125482,"nm2571693,nm1885766,nm0817379",Nomadland,107,Drama,39458207.0,7.3,150791,...,en,A woman in her sixties embarks on a journey th...,25.852,Highwayman Films,"[{'iso_3166_1': 'US', 'name': 'United States o...",R,4,12,2020,4
7008,"nm0695435,nm0799777","nm2088803,nm2365811",nm0003021,"nm0275286,nm0198467,nm1911103,nm1602154",The Tomorrow War,138,"Action,Adventure,Drama",14400000.0,6.5,195141,...,en,The world is stunned when a group of time trav...,306.627,Phantom Four,"[{'iso_3166_1': 'US', 'name': 'United States o...",PG-13,2,7,2021,4
7010,"nm2257207,nm3147751,nm0687146",nm6195774,nm3489851,"nm2229798,nm3363032",Judas and the Black Messiah,126,"Biography,Drama,History",6829913.0,7.4,73413,...,en,Bill O'Neal infiltrates the Black Panthers on ...,20.256,Warner Bros. Pictures,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",R,12,2,2021,4
7012,"nm0853583,nm0202804","nm0001057,nm0056271",nm0528186,"nm0124996,nm1272660",Dream Horse,113,"Biography,Comedy,Drama",6572790.0,6.9,4868,...,en,"The inspiring true story of Dream Alliance, an...",12.595,Ingenious Media,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",PG,21,5,2021,4

In [279]:
temp_df.original_language.unique()

array(['en'], dtype=object)

In [280]:
temp_df.drop(columns=['numVotes','averageRating','original_language','production_countries','overview','primaryTitle'],inplace=True)

E:\BFCAI2\ana\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [281]:
temp_df

,actor,actress,director,producer,runtimeMinutes,genres_x,world_revenue,belongs_to_collection,budget,popularity,production_companies,MPAA,day,month,year,weekday
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,118,"Comedy,Fantasy,Romance",76019048.0,other,48000000.0,10.989,Miramax,PG-13,25,12,2001,1
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,105,"Adventure,Drama,Romance",46305.0,other,1000000.0,12.037,United Artists,PG,7,1,1952,0
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,122,Drama,49523.0,other,1800000.0,14.618,Warner Bros. Pictures,PG,18,9,1951,1
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,103,"Comedy,Musical,Romance",1923485.0,other,2540800.0,16.596,Metro-Goldwyn-Mayer,G,9,4,1952,2
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,88,Horror,23750000.0,other,658000.0,9.411,Warner Bros. Pictures,GP,16,4,1953,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999,"nm0268199,nm4446467,nm7887725",nm6675440,nm1139726,"nm7533951,nm0412588",108,"Adventure,Sci-Fi,Thriller",4298184.0,other,20000000.0,82.256,Thunder Road,PG-13,8,4,2021,3
7006,"nm0000657,nm11894469","nm0000531,nm9584508",nm2125482,"nm2571693,nm1885766,nm0817379",107,Drama,39458207.0,other,5000000.0,25.852,Highwayman Films,R,4,12,2020,4
7008,"nm0695435,nm0799777","nm2088803,nm2365811",nm0003021,"nm0275286,nm0198467,nm1911103,nm1602154",138,"Action,Adventure,Drama",14400000.0,The Tomorrow War Collection,200000000.0,306.627,Phantom Four,PG-13,2,7,2021,4
7010,"nm2257207,nm3147751,nm0687146",nm6195774,nm3489851,"nm2229798,nm3363032",126,"Biography,Drama,History",6829913.0,other,26000000.0,20.256,Warner Bros. Pictures,R,12,2,2021,4
7012,"nm0853583,nm0202804","nm0001057,nm0056271",nm0528186,"nm0124996,nm1272660",113,"Biography,Comedy,Drama",6572790.0,other,20000000.0,12.595,Ingenious Media,PG,21,5,2021,4

In [282]:
temp_df.isna().sum()

actor                     0
actress                   0
director                  0
producer                  0
runtimeMinutes            0
genres_x                  0
world_revenue             0
belongs_to_collection     0
budget                    0
popularity                0
production_companies     75
MPAA                      0
day                       0
month                     0
year                      0
weekday                   0
dtype: int64

In [283]:
temp_df.dropna(inplace=True)

<ipython-input-283-1463c873ff56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.dropna(inplace=True)

In [284]:
temp_df

,actor,actress,director,producer,runtimeMinutes,genres_x,world_revenue,belongs_to_collection,budget,popularity,production_companies,MPAA,day,month,year,weekday
0,"nm0413168,nm0000630,nm0005227",nm0000212,nm0003506,nm0465298,118,"Comedy,Fantasy,Romance",76019048.0,other,48000000.0,10.989,Miramax,PG-13,25,12,2001,1
1,"nm0000007,nm0605923,nm0119988",nm0000031,nm0001379,nm0818545,105,"Adventure,Drama,Romance",46305.0,other,1000000.0,12.037,United Artists,PG,7,1,1952,0
2,"nm0000008,nm0001500","nm0000046,nm0001375",nm0001415,nm0271012,122,Drama,49523.0,other,1800000.0,14.618,Warner Bros. Pictures,PG,18,9,1951,1
3,"nm0000037,nm0640307","nm0001666,nm0353405",nm0002045,nm0006085,103,"Comedy,Musical,Romance",1923485.0,other,2540800.0,16.596,Metro-Goldwyn-Mayer,G,9,4,1952,2
4,"nm0001637,nm0522481","nm0456533,nm0427700",nm0211964,nm0289381,88,Horror,23750000.0,other,658000.0,9.411,Warner Bros. Pictures,GP,16,4,1953,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999,"nm0268199,nm4446467,nm7887725",nm6675440,nm1139726,"nm7533951,nm0412588",108,"Adventure,Sci-Fi,Thriller",4298184.0,other,20000000.0,82.256,Thunder Road,PG-13,8,4,2021,3
7006,"nm0000657,nm11894469","nm0000531,nm9584508",nm2125482,"nm2571693,nm1885766,nm0817379",107,Drama,39458207.0,other,5000000.0,25.852,Highwayman Films,R,4,12,2020,4
7008,"nm0695435,nm0799777","nm2088803,nm2365811",nm0003021,"nm0275286,nm0198467,nm1911103,nm1602154",138,"Action,Adventure,Drama",14400000.0,The Tomorrow War Collection,200000000.0,306.627,Phantom Four,PG-13,2,7,2021,4
7010,"nm2257207,nm3147751,nm0687146",nm6195774,nm3489851,"nm2229798,nm3363032",126,"Biography,Drama,History",6829913.0,other,26000000.0,20.256,Warner Bros. Pictures,R,12,2,2021,4
7012,"nm0853583,nm0202804","nm0001057,nm0056271",nm0528186,"nm0124996,nm1272660",113,"Biography,Comedy,Drama",6572790.0,other,20000000.0,12.595,Ingenious Media,PG,21,5,2021,4

vectorize actor by averageing the revenue he makes for each movie then taking top 50

In [285]:
temp_df.actor = temp_df.actor.apply(lambda x: x.split(',')[0])

E:\BFCAI2\ana\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [286]:
temp_df.actress = temp_df.actress.apply(lambda x: x.split(',')[0])

In [287]:
temp_df.director = temp_df.director.apply(lambda x: x.split(',')[0])

In [288]:
temp_df.producer = temp_df.producer.apply(lambda x: x.split(',')[0])

In [289]:
temp_df.genres_x = temp_df.genres_x.apply(lambda x: x.split(',')[0])

In [290]:
temp_df

,actor,actress,director,producer,runtimeMinutes,genres_x,world_revenue,belongs_to_collection,budget,popularity,production_companies,MPAA,day,month,year,weekday
0,nm0413168,nm0000212,nm0003506,nm0465298,118,Comedy,76019048.0,other,48000000.0,10.989,Miramax,PG-13,25,12,2001,1
1,nm0000007,nm0000031,nm0001379,nm0818545,105,Adventure,46305.0,other,1000000.0,12.037,United Artists,PG,7,1,1952,0
2,nm0000008,nm0000046,nm0001415,nm0271012,122,Drama,49523.0,other,1800000.0,14.618,Warner Bros. Pictures,PG,18,9,1951,1
3,nm0000037,nm0001666,nm0002045,nm0006085,103,Comedy,1923485.0,other,2540800.0,16.596,Metro-Goldwyn-Mayer,G,9,4,1952,2
4,nm0001637,nm0456533,nm0211964,nm0289381,88,Horror,23750000.0,other,658000.0,9.411,Warner Bros. Pictures,GP,16,4,1953,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999,nm0268199,nm6675440,nm1139726,nm7533951,108,Adventure,4298184.0,other,20000000.0,82.256,Thunder Road,PG-13,8,4,2021,3
7006,nm0000657,nm0000531,nm2125482,nm2571693,107,Drama,39458207.0,other,5000000.0,25.852,Highwayman Films,R,4,12,2020,4
7008,nm0695435,nm2088803,nm0003021,nm0275286,138,Action,14400000.0,The Tomorrow War Collection,200000000.0,306.627,Phantom Four,PG-13,2,7,2021,4
7010,nm2257207,nm6195774,nm3489851,nm2229798,126,Biography,6829913.0,other,26000000.0,20.256,Warner Bros. Pictures,R,12,2,2021,4
7012,nm0853583,nm0001057,nm0528186,nm0124996,113,Biography,6572790.0,other,20000000.0,12.595,Ingenious Media,PG,21,5,2021,4

In [291]:
prediction_columns = list(temp_df)

Vectorize columns

In [292]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

In [293]:
columns_to_vectorize = ['actor','actress','director','producer','genres_x','belongs_to_collection','production_companies','MPAA']

In [294]:
transformer = make_column_transformer((OneHotEncoder(), columns_to_vectorize),remainder='passthrough')

In [295]:
vectorizer_fit = transformer.fit(temp_df)

In [296]:
transformed = vectorizer_fit.transform(temp_df)
transformed

<3942x8364 sparse matrix of type '<class 'numpy.float64'>'
	with 62948 stored elements in Compressed Sparse Row format>

In [297]:
len(transformer.get_feature_names())

C:\Users\DELL\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

8364

In [298]:
final_df = pd.DataFrame.sparse.from_spmatrix(transformed, columns=transformer.get_feature_names())

In [299]:
final_df

,onehotencoder__x0_nm0000007,onehotencoder__x0_nm0000008,onehotencoder__x0_nm0000009,onehotencoder__x0_nm0000032,onehotencoder__x0_nm0000034,onehotencoder__x0_nm0000037,onehotencoder__x0_nm0000045,onehotencoder__x0_nm0000056,onehotencoder__x0_nm0000059,onehotencoder__x0_nm0000092,...,onehotencoder__x7_PG-13,onehotencoder__x7_R,runtimeMinutes,world_revenue,budget,popularity,day,month,year,weekday
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,118.0,76019048.0,48000000.0,10.989,25.0,12.0,2001.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,105.0,46305.0,1000000.0,12.037,7.0,1.0,1952.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,122.0,49523.0,1800000.0,14.618,18.0,9.0,1951.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,103.0,1923485.0,2540800.0,16.596,9.0,4.0,1952.0,2.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,88.0,23750000.0,658000.0,9.411,16.0,4.0,1953.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,108.0,4298184.0,20000000.0,82.256,8.0,4.0,2021.0,3.0
3938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,107.0,39458207.0,5000000.0,25.852,4.0,12.0,2020.0,4.0
3939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,138.0,14400000.0,200000000.0,306.627,2.0,7.0,2021.0,4.0
3940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,126.0,6829913.0,26000000.0,20.256,12.0,2.0,2021.0,4.0
3941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,113.0,6572790.0,20000000.0,12.595,21.0,5.0,2021.0,4.0

In [300]:
#final_df = pd.get_dummies(temp_df, columns=['actor','actress','director','producer','genres_x','belongs_to_collection','production_companies','MPAA'],drop_first=True)

In [301]:
final_df

,onehotencoder__x0_nm0000007,onehotencoder__x0_nm0000008,onehotencoder__x0_nm0000009,onehotencoder__x0_nm0000032,onehotencoder__x0_nm0000034,onehotencoder__x0_nm0000037,onehotencoder__x0_nm0000045,onehotencoder__x0_nm0000056,onehotencoder__x0_nm0000059,onehotencoder__x0_nm0000092,...,onehotencoder__x7_PG-13,onehotencoder__x7_R,runtimeMinutes,world_revenue,budget,popularity,day,month,year,weekday
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,118.0,76019048.0,48000000.0,10.989,25.0,12.0,2001.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,105.0,46305.0,1000000.0,12.037,7.0,1.0,1952.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,122.0,49523.0,1800000.0,14.618,18.0,9.0,1951.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,103.0,1923485.0,2540800.0,16.596,9.0,4.0,1952.0,2.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,88.0,23750000.0,658000.0,9.411,16.0,4.0,1953.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,108.0,4298184.0,20000000.0,82.256,8.0,4.0,2021.0,3.0
3938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,107.0,39458207.0,5000000.0,25.852,4.0,12.0,2020.0,4.0
3939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,138.0,14400000.0,200000000.0,306.627,2.0,7.0,2021.0,4.0
3940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,126.0,6829913.0,26000000.0,20.256,12.0,2.0,2021.0,4.0
3941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,113.0,6572790.0,20000000.0,12.595,21.0,5.0,2021.0,4.0

In [302]:
final_df[['runtimeMinutes','world_revenue','budget','popularity','day','month','year','weekday']].corr()

,runtimeMinutes,world_revenue,budget,popularity,day,month,year,weekday
runtimeMinutes,1.000000,0.347874,0.406120,0.080241,0.020380,0.156067,-0.026718,-0.117757
world_revenue,0.347874,1.000000,0.708161,0.190222,0.004883,0.046035,0.086988,-0.178222
budget,0.406120,0.708161,1.000000,0.187129,0.018842,0.049870,0.110296,-0.177762
popularity,0.080241,0.190222,0.187129,1.000000,-0.009402,-0.023853,0.126615,-0.062300
day,0.020380,0.004883,0.018842,-0.009402,1.000000,-0.022140,0.015756,-0.032648
month,0.156067,0.046035,0.049870,-0.023853,-0.022140,1.000000,-0.028474,-0.017397
year,-0.026718,0.086988,0.110296,0.126615,0.015756,-0.028474,1.000000,-0.118245
weekday,-0.117757,-0.178222,-0.177762,-0.062300,-0.032648,-0.017397,-0.118245,1.000000

using sparse matrix for more efficient computations

In [303]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error

from scipy.sparse import csr_matrix

In [304]:
X = csr_matrix(final_df.drop(['world_revenue'], axis=1).values)
y = final_df.world_revenue.values

In [305]:
X

<3942x8363 sparse matrix of type '<class 'numpy.float64'>'
	with 59006 stored elements in Compressed Sparse Row format>

In [306]:
y

[76019048.0, 46305.0, 49523.0, 1923485.0, 23750000.0, 32855818.0, 40356000.0, 24808792.0, 72632653.0, 111922142.0, 105015008.0, 43086122.0, 511422.0, 32599488.0, 102310697.0, 22787885.0, 5050000.0, 7100435.0, 31559552.0, 106550690.0, 81600000.0, 2437000.0, 29146131.0, 12442673.0, 68064.0, 41131.0, 7717.0, 23690757.0, 237113184.0, 775398007.0, 396271103.0, 106285522.0, 106260000.0, 11988469.0, 538375067.0, 41092328.0, 389925971.0, 41722424.0, 792910554.0, 2895379.0, 946461.0, 475106177.0, 52066791.0, 47951979.0, 25685134.0, 8089290.0, 9949953.0, 358574.0, 131060248.0, 8618766.0, 5900712.0, 39032786.0, 16209459.0, 3500000.0, 5924421.0, 42721196.0, 5669831.0, 74714298.0, 1705139.0, 5344577.0, 796368.0, 90000098.0, 474171806.0, 227853986.0, 156167015.0, 8266343.0, 205068.0, 2032973.0, 5728953.0, 9645440.0, 24271196.0, 463406268.0, 22997992.0, 6375979.0, 1345903.0, 15565363.0, 8211952.0, 49114016.0, 182291969.0, 259012.0, 14919570.0, 34416893.0, 30102717.0, 82264675.0, 5451119.0, 23202444.0, 34872033.0, 65595485.0, 7434726.0, 904.0, 15556340.0, 17218080.0, 191125.0, 59509925.0, 1055987.0, 12454768.0, 7328463.0, 18784957.0, 59489799.0, 2641357.0, ...]
Fill: 0
IntIndex
Indices: array([   0,    1,    2, ..., 3939, 3940, 3941], dtype=int32)

In [307]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [308]:
X_train

<3153x8363 sparse matrix of type '<class 'numpy.float64'>'
	with 47193 stored elements in Compressed Sparse Row format>

In [309]:
from sklearn.ensemble import RandomForestRegressor

In [310]:
from xgboost import XGBRFRegressor

In [192]:
from sklearn.model_selection import GridSearchCV

In [193]:
parameters = {'max_features': ('auto','sqrt'),
             'n_estimators': [500, 1000],
             'max_depth': [10, None],
             'min_samples_split': [5],
             'min_samples_leaf': [1],
             'bootstrap': [True]}

In [194]:
grid_search = GridSearchCV(RandomForestRegressor(),parameters,cv=5,return_train_score=True,n_jobs=-1)
grid_search.fit(X,y)
grid_search.best_params_

C:\Users\DELL\AppData\Roaming\Python\Python38\site-packages\sklearn\ensemble\_forest.py:416: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

{'bootstrap': True,
 'max_depth': None,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 1000}

In [410]:
model = RandomForestRegressor(n_jobs=-1,random_state=51 , bootstrap = True,
 max_depth= None,
 max_features = 'auto',
 min_samples_leaf = 7,
 min_samples_split= 5,
 n_estimators = 1000)

In [411]:
model.fit(X_train, y_train)

C:\Users\DELL\AppData\Roaming\Python\Python38\site-packages\sklearn\ensemble\_forest.py:416: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

RandomForestRegressor(max_features='auto', min_samples_leaf=7,
                      min_samples_split=5, n_estimators=1000, n_jobs=-1,
                      random_state=51)

In [412]:
model.score(X_train,y_train)

0.7671801673045601

In [413]:
mean_squared_error(model.predict(X_train),y_train)**0.5

82940118.2175458

In [414]:
mean_squared_log_error(model.predict(X_train),y_train)**0.5

1.561758873993915

In [415]:
model.score(X_test, y_test)

0.7149054422390746

In [416]:
mean_squared_error(model.predict(X_test),y_test)**0.5

103795643.01268259

In [417]:
mean_squared_log_error(model.predict(X_test),y_test)**0.5

1.6013345770176128

Features Importance

In [418]:
feature_importance = pd.DataFrame([model.feature_importances_] , columns=list(final_df.drop(columns='world_revenue')))

In [419]:
feature_importance

,onehotencoder__x0_nm0000007,onehotencoder__x0_nm0000008,onehotencoder__x0_nm0000009,onehotencoder__x0_nm0000032,onehotencoder__x0_nm0000034,onehotencoder__x0_nm0000037,onehotencoder__x0_nm0000045,onehotencoder__x0_nm0000056,onehotencoder__x0_nm0000059,onehotencoder__x0_nm0000092,...,onehotencoder__x7_PG,onehotencoder__x7_PG-13,onehotencoder__x7_R,runtimeMinutes,budget,popularity,day,month,year,weekday
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000922,0.002402,0.002152,0.052076,0.623972,0.182164,0.017134,0.014862,0.033519,0.004614

In [420]:
feature_importance['row_name'] = ['first']

In [421]:
feature_importance = feature_importance.set_index('row_name').sort_values(by='first',axis=1)

In [426]:
feature_importance.iloc[:,-30:]

,onehotencoder__x6_Lucasfilm Ltd.,onehotencoder__x4_Crime,onehotencoder__x6_DreamWorks Pictures,onehotencoder__x6_Walt Disney Pictures,onehotencoder__x2_nm0000229,onehotencoder__x6_Miramax,onehotencoder__x6_Columbia Pictures,onehotencoder__x6_Paramount,onehotencoder__x3_nm0089658,onehotencoder__x6_Warner Bros. Pictures,...,onehotencoder__x4_Action,onehotencoder__x6_Universal Pictures,weekday,month,day,year,onehotencoder__x5_other,runtimeMinutes,popularity,budget
row_name,,,,,,,,,,,,,,,,,,,,,
first,0.000027,0.000041,0.000067,0.000082,0.000108,0.000114,0.000159,0.000184,0.00019,0.000273,...,0.003381,0.004598,0.004614,0.014862,0.017134,0.033519,0.049411,0.052076,0.182164,0.623972

__Tuning__

In [424]:
from sklearn.model_selection import cross_val_score

In [425]:
cv_result = cross_val_score(model, X, y, cv=10,n_jobs=-1)
cv_result

array([0.40009196, 0.5617352 , 0.65403601, 0.75388843, 0.57702313,
       0.69135766, 0.67529393, 0.70252572, 0.69398409, 0.37588393])

Testing prediction for single movie

In [110]:
test_predict = df[df.imdb_id == 'tt0499549']

In [111]:
test_predict

,imdb_id,actor,actress,archive_footage,archive_sound,cinematographer,composer,director,editor,producer,...,status,tagline,title,video,vote_average,vote_count,success,status_code,status_message,MPAA
13294,tt0499549,nm0941777,"nm0757855,nm0000244,nm0735442",NaN,NaN,nm0278475,nm0000035,nm0000116,"nm0729701,nm0716350",nm0484457,...,Released,Enter the world of Pandora.,Avatar,False,7.5,25635.0,NaN,NaN,NaN,PG-13

In [112]:
prediction_columns

['actor',
 'actress',
 'director',
 'producer',
 'runtimeMinutes',
 'genres_x',
 'world_revenue',
 'belongs_to_collection',
 'budget',
 'popularity',
 'production_companies',
 'MPAA',
 'day',
 'month',
 'year',
 'weekday']

In [113]:
test_predict.release_date = pd.to_datetime(test_predict.release_date)

E:\BFCAI2\ana\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [114]:
test_predict['day'] = test_predict.release_date.apply(lambda x: x.day)

<ipython-input-114-7a269cb69059>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_predict['day'] = test_predict.release_date.apply(lambda x: x.day)

In [115]:
test_predict['month'] = test_predict.release_date.apply(lambda x: x.month)

<ipython-input-115-dcc1eb4b8e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_predict['month'] = test_predict.release_date.apply(lambda x: x.month)

In [116]:
test_predict['year'] = test_predict.release_date.apply(lambda x: x.year)

<ipython-input-116-c46ecbebe30a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_predict['year'] = test_predict.release_date.apply(lambda x: x.year)

In [117]:
test_predict['weekday'] = test_predict.release_date.apply(lambda x: x.weekday())

<ipython-input-117-aadb0d585553>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_predict['weekday'] = test_predict.release_date.apply(lambda x: x.weekday())

In [118]:
test_predict = test_predict[prediction_columns]

In [119]:
test_predict

,actor,actress,director,producer,runtimeMinutes,genres_x,world_revenue,belongs_to_collection,budget,popularity,production_companies,MPAA,day,month,year,weekday
13294,nm0941777,"nm0757855,nm0000244,nm0735442",nm0000116,nm0484457,162,"Action,Adventure,Fantasy",2.847380e+09,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,351.299,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...",PG-13,10,12,2009,3

In [120]:
test_predict.actor = test_predict.actor.apply(lambda x: x.split(',')[0])

E:\BFCAI2\ana\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [121]:
test_predict.actress = test_predict.actress.apply(lambda x: x.split(',')[0])

In [122]:
test_predict.genres_x = test_predict.genres_x.apply(lambda x: x.split(',')[0])

In [123]:
test_predict

,actor,actress,director,producer,runtimeMinutes,genres_x,world_revenue,belongs_to_collection,budget,popularity,production_companies,MPAA,day,month,year,weekday
13294,nm0941777,nm0757855,nm0000116,nm0484457,162,Action,2.847380e+09,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000.0,351.299,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...",PG-13,10,12,2009,3

In [124]:
test_predict.production_companies[14340]

KeyError: 14340

In [ ]:
test_predict.production_companies = test_predict.production_companies.apply(split_list)

In [ ]:
test_predict.belongs_to_collection.fillna('other')[13294]

In [ ]:
test_predict.belongs_to_collection = test_predict.belongs_to_collection.apply(split_list)

In [ ]:
test_predict

In [ ]:
test_transformed = vectorizer_fit.transform(test_predict)

In [ ]:
test_predict =  pd.DataFrame.sparse.from_spmatrix(test_transformed, columns=transformer.get_feature_names())

In [ ]:
test_predict

In [ ]:
model.predict(test_predict.drop(columns=['world_revenue']))